.container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.text {
    width: 600px;
    min-width: 300px;
    height: fit-content;
    color: white;
    background-color: blue;
    grid-column: 2;
}

.image {
    float: right;
}